
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru"  xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/head_fragment::headFragment}">

</head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header th:replace="~{fragments/header_fragment::headerFragment}">
  </header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <h1 class="Middle-title">Жанры
        </h1>
        <div class="Section">
          <div class="Tags Tags_genres">

              <th:block th:each="genre:${genres}">
                <div class="Tags Tags_embed" th:class="${genre.getGenreChildSetElementsCount()==0 ? 'Tags' : 'Tags Tags_embed'}" >
                  <div class="Tags-title">
                    <div class="Tag"><a href="http://localhost:8085/genres/slug.html" th:href="@{/bookshop/books/genre/{id}(id=${genre.getId()})}" th:text="${genre.getName()+'('+genre.getBooksGenreSet().size()+')'}">Детективы<span class="undefined-amount">(10)</span></a>
                    </div>
                  </div>
                  <th:block th:each="genreChild:${genre.getGenreParentSet()}">
                    <div class="Tags" th:if="${genreChild.getGenreParentSet().size()>0}" >
                      <div class="Tags-title">
                        <div class="Tag"><a href="http://localhost:8085/genres/slug.html" th:href="@{/bookshop/books/genre/{id}(id=${genreChild.getId()})}" th:text="${genreChild.getName()+'('+genreChild.getBooksGenreSet().size()+')'}">Детективы<span class="undefined-amount">(10)</span></a>
                        </div>
                      </div>
                      <th:block th:each="genreChild2:${genreChild.getGenreParentSet()}">
                        <div class="Tags" th:if="${genreChild2.getGenreParentSet().size()>0}" >
                          <div class="Tags-title">
                            <div class="Tag"><a href="http://localhost:8085/genres/slug.html" th:href="@{/bookshop/books/genre/{id}(id=${genreChild2.getId()})}" th:text="${genreChild2.getName()+'('+genreChild2.getBooksGenreSet().size()+')'}">Детективы<span class="undefined-amount">(10)</span></a>
                            </div>
                          </div>
                          <div  class="Tag"  th:if="${genreChild2.getGenreParentSet().size()==0}" ><a href="http://localhost:8085/genres/slug.html" th:href="@{/bookshop/books/genre/{id}(id=${genreChild2.getId()})}" th:text="${genreChild2.getName()+'('+genreChild2.getBooksGenreSet().size()+')'}" >Фантастика<span class="undefined-amount">(44333)</span></a>
                          </div>
                        </div>
                        <div  class="Tag"  th:if="${genreChild2.getGenreParentSet().size()==0}" ><a href="http://localhost:8085/genres/slug.html" th:href="@{/bookshop/books/genre/{id}(id=${genreChild2.getId()})}" th:text="${genreChild2.getName()+'('+genreChild2.getBooksGenreSet().size()+')'}" >Фантастика<span class="undefined-amount">(44333)</span></a>
                        </div>
                      </th:block>
                    </div>
                  <div  class="Tag"  th:if="${genreChild.getGenreParentSet().size()==0}" ><a href="http://localhost:8085/genres/slug.html" th:href="@{/bookshop/books/genre/{id}(id=${genreChild.getId()})}" th:text="${genreChild.getName()+'('+genreChild.getBooksGenreSet().size()+')'}" >Фантастика<span class="undefined-amount">(44333)</span></a>
                  </div>
                  </th:block>
                </div>
              </th:block>


          </div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="~{fragments/footer_gragment::footerFragment}">

  </footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
  <!--+menu(-->
  <!--    'Это раз',-->
  <!--    'Это два',-->
  <!--    'Это три'-->
  <!--)-->
  <!--br-->
  <!--br-->
  <!--+menu._vt-->
  <!--    +menuItem Это раз-->
  <!--    +menuItem.-item_danger Это два-->
  <!--    +menuItem Это три-->
</body></html>