# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Ольга\Desktop\SKILLBOX\GITHAB\SKILLBOX\SpringBoot\firstSpringBootApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
