<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book shelf login</title>
    <meta charset="UTF-8">
    <style>
        #register_form {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .register_item {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div id="register_form">
    <form method="post" th:action="@{/login/register}" th:object="${registerForm}">
        <img class="register_item" th:src="@{/images/book_icon.png}">
        <br>
        <span class="register_item">User registration</span>
        <br>
        <input class="register_item" type="text" placeholder="enter username" th:field="*{username}">
        <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">UserNameError</div>
        <br>
        <input class="register_item" type="password" placeholder="password" th:field="*{password}">
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">PasswordError</div>
        <br>
        <input class="register_item" type="submit" value="register">
    </form>

</div>
</body>
</html>
